@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mali', cursive;
}

:root{
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #ED8F03;
  --color-primary-light:#FFB75E;
  /* --color-primary: #4db5ff; */
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

body{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(./bg-texture.png);
  background-color: var(--color-bg);
  color: var(--color-white);
}

.App h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.container{
  background-color: beige;
  height: 70px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.edit-container{
  margin: 0 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.edit-container input{
  padding: 0.5rem;
  border-radius: 1.5rem;
  border-color: var(--color-primary-light);
}

.edit-container button{
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.form-container button{
  margin: 0 0.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.form-container input{
  padding: 0.5rem;
  border-radius: 1.5rem;
  border-color: var(--color-primary-light);
}

.todolist li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: beige;
  border-radius: 2rem;
  height: 50px;
  margin: 1rem 0;
  color: var(--color-bg);
  font-size: 1.25rem;
  font-weight: 600;
}

.name-list{
  width: 30%;
}

.edit-btn,.delete-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
}

.edit-btn button,.delete-btn button{
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.todolist li{
  list-style: none;
}